.header{
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        list-style: none;
    }
    &__nav-item{
        margin: 0 10px;
    }
}