body{
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3399CC;
    color: #fff;
}
button{
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
#root{
    height: 100%;
}
.container{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}